.seccion {
    border-color: blue;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px; 
    padding: 10px;
}

#cabecera {
    text-align: center;
    background-color: rgb(27, 13, 220);
    padding: 10px;
}
