# General
logs
*.NavData

# Java class files.
*.class

# Mobile Tools for Java (J2ME).
.mtj.tmp/

# Package files.
*.jar
*.war
*.ear

# Virtual machine crash logs.
hs_err_pid*

# Eclipse IDE.
.settings
.metadata
.project
.classpath
.buildpath
Servers
bin

# Netbeans IDE.
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Intellij IDEA IDE.
*.iml
*.iws
*.ipr
.idea/

# Maven build tools.
target
/target
**/target
/target/
**/target/

# Sprint Tools 
*.sts4-cache
*.sts3-cache
.attach_pid*
/.DS_Store
**/.DS_Store

### Local Redis config ###
redisson.yaml

# React
# dependencies
/node_modules
**/node_modules
/node_modules/
**/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/launch.json
/.vs/DWFS-PER11392-2425/config/applicationhost.config
/.vs/DWFS-PER11392-2425/FileContentIndex/0d12302f-39f4-4aee-bb0b-aeec4ee7b6a2.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/290690d0-3a71-49a8-8288-4b7a5eb49d34.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/97d6ffbf-d4c9-4e46-84ec-1597276a6fb2.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/eeef06b1-82d1-4aa5-a5ad-ac179a3becd0.vsidx
/.vs/DWFS-PER11392-2425/v17/.wsuo
/.vs/DWFS-PER11392-2425/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/DWFS-PER11392-2425/FileContentIndex/67b1b8c0-2d65-44a3-8527-2a70a1a6cb4e.vsidx
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/DWFS-PER11392-2425/FileContentIndex/d679c25b-8dff-4b8b-8a0e-8cd099a8fcc1.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/05aae176-e057-41b8-bc92-4fc5d56d4957.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/82b1ef49-1fd4-4ee7-b782-449a8116e99f.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/762a53dd-1a55-4c7c-87cd-561d38713280.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/384b8a57-4a23-44e9-a3d6-e9dd03ce0fb3.vsidx
/.vs/DWFS-PER11392-2425/v17/DocumentLayout.backup.json
/.vs/DWFS-PER11392-2425/FileContentIndex/f44a8b2c-ebae-4544-8093-0b793e0bd16a.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/92111c10-bb3a-4320-9bfa-45981bf1f8f3.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/80bf213a-9f00-4b2b-b084-ce943ca738fd.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/4012ea81-dfd6-443f-ad67-f6f6737e44cb.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/1f4eba02-c996-4e45-be1b-f2d0ffce02e3.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/77d2fe6a-856b-47c4-bd9b-2a6f4cfbb82c.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/57d886f9-d30f-4fa9-b108-2b0c873ff6a2.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/82635bb2-b2e6-4985-88fa-997e408d5f1f.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/4f3b6cc1-752e-46f9-92ce-00985ed3ec7d.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/ddd07366-8fd7-4421-974d-0d43e3cf8d87.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/072770bc-5813-4855-9c4e-f4a480ce51c7.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/fa6067ef-da44-4351-bde3-a43c35e55396.vsidx
/.vs/DWFS-PER11392-2425/FileContentIndex/6f40e8b5-f9e7-44fc-8c1c-8260c7306b05.vsidx
